{% extends "layout.html" %}
{% load static %}
{% block title %} Shahin Blog {% endblock title %}
{% block css_style_sheet %}
<link rel="stylesheet" href="{% static 'css/home/style.css' %}" />
{% endblock css_style_sheet %}
{% block content %}
    <div class="main-content">
        <div class="title">
            <img src="{% static 'images/shahin.jpg' %}" alt="shahin sharbaf" srcset="">
            <div>
                <h1>Shahin Sharbaf 's</h1>
                <h1>Blog</h1>
            </div>
        </div>
        <h3>Hi, I am Shahin and I love to blog about tech and the world!</h3>
        <div class="card">
            <h2>My Latest Thoughts</h2>
               {% include "includes/posts.html" %}
        </div>
    </div>
{% endblock content %}