.main-content {
  background-color: #6916b6;
  position: relative;
}
.main-content .title {
  display: flex;
  padding: 30px 0px 10px 50px;
  margin-left: 100px;
}
.main-content .title h1 {
  color: white;
  margin-left: 30px;
}
.main-content .title img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  rotate: -10deg;
}
.main-content > h3 {
  color: white;
  margin-left: 150px;
  font-weight: normal;
  padding-bottom: 100px;
}
.card {
  width: 70%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: inset 0px 0px 11px 0px rgb(213 211 211);
}
.card > h2 {
  text-align: center;
}
.card .posts {
  display: flex;
}
.card .posts .post {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0 20px;
}
.card .posts .post:hover {
  background-color: #a050eb;
  cursor: pointer;
}
.card .posts .post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card .posts .post > p {
  text-align: center;
}
