.container {
  background-color: rgb(223, 223, 223);
  padding: 20px 0px;
}
.hero-title {
  display: flex;
  background-color: #6916b6;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin: auto;
  width: 80%;
  border-radius: 20px;
}
.hero-title img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.hero-title h1,
p {
  color: white;
}
.post-description {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin: 20px auto;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 0px 3px #c5c5c5;
}
